[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
Flask = "*"
Flask-Bootstrap = "*"
Flask-WTF = "*"
Flask-Testing = "*"
blinker = "*"
firebase-admin = "*"
Flask-Login = "*"
python-dotenv = "*"

[requires]
python_version = "3.6"
